@import url('https://fonts.googleapis.com/css?family=Alata|Roboto&display=swap');

#parentEditDiv {
    align-items: center;
    justify-content: center;
    background-color: #F0997D;
    margin-top: 200px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;

}

#parentEditDiv input {
    border: 0px;
    background-color: #F0997D;
    border-bottom: 1px solid whitesmoke;
    color: #fff;

}

#parentEditDiv input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
}

#parentEditDiv label {
    margin-right: 2%;
    color: #fff;
}

#editprofileBtn {
    width: 10em;
    height: 5ex;
    background-color: #fff;
    color: #D3756B;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px;
}

#editprofileBtn:is(:hover, :focus) {
    background-color: #D3756B;
    color: #fff;
    border: none;
}

.editprofileTable td, input {
    margin-left: 10%;
    width: auto;
    height: auto;
    color: #fff;
    font-family: 'Alata', 'Roboto',sans-serif;
}

.editprofileTable {
    margin: auto;
    width: fit-content;
}

.editpageH1 {
    color: #fff;
    font-family: 'Alata', 'Roboto',sans-serif;
    align-items: center;
}

h1.editpageH1 {
    text-align: center;
}

#submitParent{
    text-align: center;
}

