.card {
    display: inline;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.cardParent {
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
}


