
  #navigation ul li h3 {
    font-weight: normal;
    color: #000;
    padding: 0;
    letter-spacing: 0.25px;
  }
  #navigation ul li {
    list-style: none;
    display:inline-block;
  }
  #navigation a{
    text-align: center;
  }

  #navigation li {
    margin: 12px;
  }

  #cartIcon {
    position: relative;
    float: right;
    margin: auto;
    padding-right: 40px;
    padding-top: 15px;
  }

  #navigation{
    margin: 0;
    padding: 0;
    background-color: #A75D5D;
    border-bottom: 1px solid #ccc;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #navOptions {
    position: relative;
    float: left;
    margin: auto; 
    padding-left: 40px;
    padding-top: 10px;

  }

  #navigation a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #f8dbca;
}
